.authorizecontainer {
    display: grid;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.formcontainer {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: center;
    gap: 7px;
    width: 80%;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
}

.formcontainer input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.formcontainer button {
    padding: 8px;
}

.error {
    color: red;
}

@media screen and 
    (min-width: 700px) {
        .formcontainer {
            padding: 20px;
            width: 60%;
            border: 1px solid gray;
            border-radius: 7px;        
        }
}

@media screen and 
    (min-width: 1000px) {
        .formcontainer {
            padding: 30px 20px;
            width: 40%;
            border: 1px solid gray;
            border-radius: 7px;        
        }
}

@media screen and 
    (min-width: 1200px) {
        .formcontainer {
            padding: 30px 20px;
            width: 30%;
            border: 1px solid gray;
            border-radius: 7px;        
        }
}